.table-im {
  display: flex;
  margin-top: 2rem;
}

table {
  width: 100%;
  max-width: 60rem; /* Defina a largura máxima da tabela (opcional) */
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

th,
td {
  padding: 0.5rem;
  overflow: hidden; /* Esconder conteúdo que ultrapassa a largura */
  text-overflow: ellipsis;
  background-color: white;
}

th {
  background-color: #f2f4f9;
  color: #9798a4;
}

.btn-export {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
}

.list-export {
  position: absolute;
  list-style: none;
  background-color: white;
  width: 7rem;
  border-radius: 3px;
  margin-top: 0.3rem;
}

.option-export {
  padding-left: 15px;
}
